echo "build/" >> ../../../.gitignore
echo "CMakeCache.txt" >> ../../../.gitignore
echo "CMakeFiles/" >> ../../../.gitignore
echo "cmake_install.cmake" >> ../../../.gitignore
echo "Makefile" >> ../../../.gitignore
echo "tree_walker" >> ../../../.gitignore
crafting_interpreters_cpp/tree-walk interpreter/build/*
